#parse("header.vm")
#set($nav="about")
#parse("navbar.vm")

<div class="hero-unit">
  <h1>About the registry</h1>
</div>

<p>
  This is This is the SciTools reference registry for controlled terminologies and specifications.
</p>

#parse("footer.vm")
