<div class="hero-unit">
  <h1>UKGovLD Registry</h1>
</div>

<p>
  This is the SciTools reference registry for controlled terminologies and specifications.
</p>

<hr />

#set($register=$node)
#set($itemForReg=$model.getNode($node.uRI.replaceAll("/([^/]+)$", "/_$1")))
#parse("register.vm")
