#parse("header.vm")
#set($nav="about")
#parse("navbar.vm")

    <div class="jumbotron">
      <div class="container">
        <h1>SciTools Registry (alpha)</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <p>This is the SciTools reference registry for controlled terminologies and specifications.</p>
      </div>
    ## container will be closed by footer

#parse("footer.vm")
